.board-style {
    border-collapse: collapse;
    background-color: #bce6ff; /* #ffe5d8 */
    margin: 20px auto 20px auto;
    transition: all 200ms 50ms ease-out;
}

.board-style tbody tr td {
    border: 1px solid #1f2798;
    padding: 20px;
    /* color: #fe7a15; */
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    transition: all 200ms 50ms ease-out;
}

.hover-white:hover {
    background-color: white;
}

.hover-red:hover {
    background-color: red;
}

.bulb-on {
    color: #fe7a15!important;
    background-color: #ffe5d8;
    /* transition: all 200ms 50ms ease-out; */
}

.obstacle {
    background-color: #1f2798;
}

.error {
    background-color: #ff0000!important;
}

.passed {
    background-color: #00ff00!important;
    color: black!important;
}

@media screen and (max-width: 600px) {
    .board-style {
        width: 400px;
        height: auto;
    }
    .board-style tbody tr td {
        padding: 20px;
        width: 15px;
        height: 15px;
    }
}




